In [202]:
import pandas as pd
import sqlalchemy

In [203]:
def create_engine():
    return sqlalchemy.create_engine('postgresql://postgres:123@localhost:5432/metrics')

In [204]:
sql_connection = create_engine()

In [205]:
data = pd.DataFrame(sql_connection.connect().execute(sqlalchemy.text('select "SCORE" from calculated_data')))
data.shape
print('-------------------')
print(f"SCORE\nbefore:{data['SCORE'][[1,2,3,4,5]]}\n")
mean = data.mean(axis=0)
std = data.std(axis=0)
print(f'mean: {mean}')
print(f'std: {std}')
data-=mean
data/=std
print(max(data['SCORE']))
data += 1
data /= 2
data = 1 - data
print(f"\nafter:\n{data['SCORE'][[1,2,3,4,5,6,7,8,9,10]]}")

-------------------
SCORE
before:1    35.54
2    18.78
3    19.32
4    46.71
5    29.67
Name: SCORE, dtype: float64

mean: SCORE    19.363939
dtype: float64
std: SCORE    17.697325
dtype: float64
40.04198685792824

after:
1     0.042980
2     0.516498
3     0.501241
4    -0.272604
5     0.208824
6     0.637985
7     0.437390
8     0.792811
9     0.700424
10    0.691948
Name: SCORE, dtype: float64

In [206]:
def ff_score(column):
    data = pd.DataFrame(sql_connection.connect().execute(sqlalchemy.text(f'select "{column}" from calculated_data')))
    data.shape
    print('-------------------')
    print(f"{column}\nbefore:{data[f'{column}'][[1,2,3,4,5]]}\n")
    mean = data.mean(axis=0)
    std = data.std(axis=0)
    print(f'mean: {mean}')
    print(f'std: {std}')
    data-=mean
    data/=std
    print(max(data[f'{column}']))
    data += 1
    data /= 2
    data = 1 - data
    print(f"\nafter:\n{data[f'{column}'][[1,2,3,4,5,6,7,8,9,10]]}")
    return data

ff_score("SCORE")

-------------------
SCORE
before:1    35.54
2    18.78
3    19.32
4    46.71
5    29.67
Name: SCORE, dtype: float64

mean: SCORE    19.363939
dtype: float64
std: SCORE    17.697325
dtype: float64
40.04198685792824

after:
1     0.042980
2     0.516498
3     0.501241
4    -0.272604
5     0.208824
6     0.637985
7     0.437390
8     0.792811
9     0.700424
10    0.691948
Name: SCORE, dtype: float64

          SCORE
0     -0.275712
1      0.042980
2      0.516498
3      0.501241
4     -0.272604
...         ...
31979  0.126043
31980  0.728394
31981 -2.350037
31982  0.535427
31983  0.877004

[31984 rows x 1 columns]

In [207]:
def ff(column):
    data = pd.DataFrame(sql_connection.connect().execute(sqlalchemy.text(f'select "{column}" from calculated_data')))
    data.shape
    print('-------------------')
    print(f"{column}\nbefore:{data[f'{column}'][[1,2,3,4,5]]}\n")
    mean = data.mean(axis=0)
    std = data.std(axis=0)
    print(f'mean: {mean}')
    print(f'std: {std}')
    data-=mean
    data/=std
    print(f"\nafter:\n{data[f'{column}'][[1,2,3,4,5,6,7,8,9,10]]}")
    return data

In [208]:
ff("LOC")

-------------------
LOC
before:1     1505
2     2103
3     2395
4     2124
5    10145
Name: LOC, dtype: int64

mean: LOC    12216.497655
dtype: float64
std: LOC    41282.150996
dtype: float64

after:
1    -0.259470
2    -0.244985
3    -0.237911
4    -0.244476
5    -0.050179
6    -0.208189
7    -0.148551
8    -0.224928
9    -0.250508
10   -0.228973
Name: LOC, dtype: float64

            LOC
0     -0.109866
1     -0.259470
2     -0.244985
3     -0.237911
4     -0.244476
...         ...
31979 -0.238396
31980 -0.252736
31981 -0.254117
31982  1.482348
31983 -0.234762

[31984 rows x 1 columns]

In [209]:
ff('AVG_METHOD_LENGTH')

-------------------
AVG_METHOD_LENGTH
before:1     8.560000
2     4.333333
3    10.092308
4    17.302326
5    28.461268
Name: AVG_METHOD_LENGTH, dtype: float64

mean: AVG_METHOD_LENGTH    12.818532
dtype: float64
std: AVG_METHOD_LENGTH    54.706265
dtype: float64

after:
1    -0.077844
2    -0.155105
3    -0.049834
4     0.081961
5     0.285940
6    -0.102729
7    -0.039559
8    -0.043750
9    -0.145381
10    0.123703
Name: AVG_METHOD_LENGTH, dtype: float64

       AVG_METHOD_LENGTH
0               0.478735
1              -0.077844
2              -0.155105
3              -0.049834
4               0.081961
...                  ...
31979          -0.059085
31980           0.169157
31981           0.628946
31982          -0.148821
31983          -0.025429

[31984 rows x 1 columns]

In [210]:
ff('AVG_DEPENDENCY_TREE_DEPTH')

-------------------
AVG_DEPENDENCY_TREE_DEPTH
before:1    0.00
2    0.00
3    0.00
4    0.06
5    0.00
Name: AVG_DEPENDENCY_TREE_DEPTH, dtype: float64

mean: AVG_DEPENDENCY_TREE_DEPTH    60.20971
dtype: float64
std: AVG_DEPENDENCY_TREE_DEPTH    1550.201018
dtype: float64

after:
1    -0.038840
2    -0.038840
3    -0.038840
4    -0.038801
5    -0.038840
6    -0.038666
7    -0.038788
8    -0.038801
9    -0.038840
10   -0.038795
Name: AVG_DEPENDENCY_TREE_DEPTH, dtype: float64

       AVG_DEPENDENCY_TREE_DEPTH
0                      -0.038840
1                      -0.038840
2                      -0.038840
3                      -0.038840
4                      -0.038801
...                          ...
31979                  -0.038472
31980                  -0.038840
31981                  -0.038840
31982                  -0.038801
31983                  -0.038840

[31984 rows x 1 columns]

In [212]:
ff('CODE_SMELLS_COUNT')

-------------------
CODE_SMELLS_COUNT
before:1    111
2     57
3     64
4    312
5    836
Name: CODE_SMELLS_COUNT, dtype: int64

mean: CODE_SMELLS_COUNT    423.097705
dtype: float64
std: CODE_SMELLS_COUNT    1812.148034
dtype: float64

after:
1    -0.172225
2    -0.202024
3    -0.198161
4    -0.061307
5     0.227852
6    -0.218579
7    -0.219131
8    -0.219683
9    -0.225753
10   -0.182710
Name: CODE_SMELLS_COUNT, dtype: float64

       CODE_SMELLS_COUNT
0               0.304557
1              -0.172225
2              -0.202024
3              -0.198161
4              -0.061307
...                  ...
31979          -0.162292
31980          -0.215268
31981           0.068373
31982           0.228956
31983          -0.224097

[31984 rows x 1 columns]

In [213]:
ff('PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999')

-------------------
PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999
before:1    0.169393
2    0.000000
3    0.032012
4    0.398522
5    0.150068
Name: PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999, dtype: float64

mean: PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999    0.138077
dtype: float64
std: PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999    0.167845
dtype: float64

after:
1     0.186575
2    -0.822644
3    -0.631920
4     1.551696
5     0.071442
6    -0.822644
7    -0.444367
8    -0.654962
9    -0.822644
10    0.513959
Name: PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999, dtype: float64

       PERCENTAGE_METHODS_WITH_ABC_IN_RANGE_41_999
0                                         3.624441
1                                         0.186575
2                                        -0.822644
3                                        -0.631920
4                                         1.551696
...                                            ...
31979                                     0.220340
31980                                     0.636506
31981                                     4.073066
31982                                    -0.775239
31983                                    -0.423210

[31984 rows x 1 columns]